/*
========================================================================================
    nf-refdb-amplicon : Nextflow Configuration
========================================================================================
    Default configuration for the nf-refdb-amplicon pipeline.

    For pipeline-specific parameters see:
        conf/ssu.config  - SSU pipeline settings
        conf/ess.config  - ESS pipeline settings
        conf/base.config - Process resource defaults
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2

/*
========================================================================================
    PIPELINE PARAMETERS
========================================================================================
*/

// Pipeline selection
params.pipeline_type = null   // Required: 'ssu' or 'ess'

// QIIME 2 conda environment
// Required: path to QIIME 2 conda environment or YAML file to create environment
params.qiime_conda_env =  "${baseDir}/assets/rachis-qiime2-linux-64-conda.yml"

// Output
params.outdir           = 'results'
params.publish_dir_mode = null

// HPC
params.queue = 'compute'

// Help
params.help = false


/*
========================================================================================
    GLOBAL PROCESS SETTINGS
========================================================================================
*/

process.shell = [
    "bash",
    "-C",
    "-e",
    "-o",
    "pipefail"
]

/*
========================================================================================
    PROFILES
========================================================================================
    Usage:
        Local with Docker:  -profile local,docker
        Local with Conda:   -profile local,conda --qiime_conda_env /path/to/env
        HPC with Conda:     -profile cluster,conda
----------------------------------------------------------------------------------------
*/

profiles {

    local {
        process.executor        = 'local'
        params.publish_dir_mode = 'symlink'
        conda.cacheDir          = "${System.getenv('HOME')}/.nextflow/cache"
        executor.pollInterval   = 120.s
    }

    cluster {
        process.executor         = 'slurm'
        executor.submitRateLimit = '6/1min'
        executor.queueSize       = 20
        process.queue            = params.queue
        params.publish_dir_mode  = 'copy'
        conda.cacheDir           = "${baseDir}/.nextflow/cache/env"
        
        includeConfig 'conf/cluster.config'

    }

    /*docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
        process.container       = 'quay.io/qiime2/qiime2:2026.4'
        conda.enabled           = false
    }*/

    conda {
        conda.enabled           = true
        conda.createTimeout     = 2.h
        process.conda           = params.qiime_conda_env
        docker.enabled          = false
    }
}

/*
========================================================================================
    REPORTING
========================================================================================
*/

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled   = true
    overwrite = true
    fields    = 'task_id,hash,native_id,process,tag,name,status,exit,cpus,time,memory,attempt,submit,start,complete,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem'
    file      = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/dag.html"
}

/*
========================================================================================
    MANIFEST
========================================================================================
*/

manifest {
    name            = 'nf-refdb-amplicon'
    description     = 'Nextflow pipeline for generating reference databases for amplicon sequences'
    homePage        = 'https://github.com/mikerobeson/nf-refdb-amplicon'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.1'
}

/*
========================================================================================
    LOAD PIPELINE-SPECIFIC CONFIGS
========================================================================================
*/

includeConfig './conf/local.config'
includeConfig './conf/ssu.config'
includeConfig './conf/ess.config'

/*
========================================================================================
    THE END
========================================================================================
*/